@import "../../App.scss";

.contact{

    height: 100%;
    max-width: 1366px;
    margin:auto;
    display:flex;
    align-items: center;
    gap:50px;

    @include mobile{
        width: 100%;
        padding: 100%;
        flex-direction: column;
    }

    .textContainer{
        flex:1;
        display: flex;
        flex-direction: column;
        gap:40px;

        @include mobile{
            gap:20px;
            text-align: center;
            align-items: center;
            margin-top:-250px;
            margin-right:400px;
        }

        h1{
            font-size: 100px;
            line-height: 88px;

            @include mobile{
                font-size: 30px;
                line-height: 50px;
            }
        }

        span{
            font-weight: 300;
        }

        .links{
            display:flex;
            img{
               height: 50px;
               width:auto;
               margin-top:30px;
                margin-right:20px;
            }
        }
    }

    .formContainer{

        flex:1;
        position:relative;

     .phoneSvg{
       stroke:orange;
        position:absolute;
        margin:auto;
        z-index:-1;

        @include mobile{
           right:45%;
           top:-7%;
        }
     }


        form{

            display:flex;
            flex-direction: column;
            gap:20px;
            width:600px;

            @include mobile{
                margin-right: 400px;
                width:300px;
            }
        }
        
        input,textarea{
            padding:20px;
            background-color: transparent;
            border:1px solid white;
            color:white;
            border-radius: 5px;

            @include mobile{
                padding:10px;
            }
        }

        button{
            padding:20px;
            border:none;
            background-color: orange;
            cursor:pointer;
            font-weight: 500;
            @include mobile{
                padding:10px;
            }
        }
    }
}