@import "../../App.scss";


.experience-section {
    background:  linear-gradient(180deg,#0c0c1d,#111132) !important; /*#f4f4f4; */
    height:100%;

  }
  
  .vertical-timeline-element--work {
    padding:2px 2px;
    margin-top:70px;
  }
  
  .vertical-timeline-element-title {
    font-size: 2rem;
    font-weight: bold;
    color: linear-gradient(180deg,#0c0c1d,#111132);
    text-transform: uppercase;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
  }
  
  .vertical-timeline-element-subtitle {
    font-size: 1.5rem;
    margin-top:1rem;
    margin-bottom:3rem;
    color:white;// rgba(255, 255, 255, 0.7); 
  }
  
  .vertical-timeline-element p {
    font-size: 1.5rem;
    line-height:0.1rem;
    color:white;

    @include mobile{
      line-height: 1rem;
    }
  }

 
  @media (max-width: 768px) {
    .vertical-timeline-element-title,
    .vertical-timeline-element-subtitle,
    .vertical-timeline-element p {
      font-size: 1em; 
    }
  }
  
  .expBox{
    display:flex;
    justify-content: space-between;

    h4{
      font-family: "Gruppo", sans-serif;
      font-weight:900;
    }

  p{
    font-family: "Gruppo", sans-serif;
      font-weight:900;
      width:100%;
  }

    ul{
      margin-left:10px;
      li{
        font-family: "Gruppo", sans-serif;
      font-weight:900;
        color:white;
        font-size: 25px;
        margin-bottom:10px;
      }
    }

  }
  .expImg{
    width:200px;
    height:200px;
  }

  .opImg{
    width:150px;
    height:150px;
  }


  .second-page{
    @include mobile{
      margin-top:170px;
      padding:20%;
    }
  }

  .third-page{
    @include mobile{
      margin-top:160px;
    }

    .vertical-timeline-element{
      @include mobile{
      width:93vw;
      }
    }

    ul{
      @include mobile{
        width:100%;
      }
    }

    .hide{
      @include mobile{
        display: none;
      }
    }


  }
