@import "../../App.scss";


.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-image: url(../../assets/landing2.png); //linear-gradient(180deg,#0c0c1d,#111132);
    background-size: cover;
    overflow: hidden;
    width:100%;
    position: relative;
    z-index: 1;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;


        .textContainer {
            // font-family: "Archivo Black", sans-serif;
            font-family: "Amatic SC", sans-serif;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            position:absolute;
            bottom:20%;
            left:3%;

            @include mobile{
                bottom:40%;
                gap:20px;
            }


            @include tablet{
                bottom:30%;
                gap:20px;
                text-align: center;
            }

            @include desktop{
                text-align: left;
            }
            
            @include desktop2{
                text-align: left;
            }


            h1 {
                font-size: 5rem;
                color:black;
                width:100%;
                z-index:4;

                @include mobile{
                    font-size:40px;
                }
                @include tablet{
                    font-size:4rem;
                }
                @include desktop{
                    font-size:3rem;
                }
                @include desktop2{
                    font-size:3.5rem;
                }
              
              
            }

        }
        
      
    }

    .imageContainer {
        z-index:2;

        h1 {
            position: absolute;
            top: 0;
            right: 10%;
            transform: translateY(-50%);
            font-size: 4rem;
            color: fred;
            z-index: 10;
        }

        .mee{
            z-index:3;
            height: 100%;
            width: auto;
            object-fit: cover;
            max-width: 100%;
            position: absolute;
            top: 0;
            cursor:pointer;
            right: 5%;


            @include mobile{
                height:40vh;
                width:auto;
               top:25%;
                right:0;
            }

            @include tablet{
                height:65vh;
                width:auto;
               top:30%;
                right:2%;
            }


            @include desktop{
                height:100%;
                width:auto;
               top:0;
                // right:2%;
            }
            @include desktop2{
                height:100%;
                width:auto;
               top:0;
               right:1%;
            }


        }

        .meback{
            height: 100%;
            width: auto;
            object-fit: cover;
            max-width: 100%;
            position: absolute;
            top: 0;
            right:5%;

            @include mobile{
                height:40vh;
                width:auto;
               top:25%;
                right:0;
            }

            @include tablet{
                height:70vh;
                width:auto;
               top:25%;
                right:0;
            }
            

            @include desktop{
                height:100%;
                width:auto;
               top:0;
                // right:2%;
            }
            @include desktop2{
                height:100%;
                width:auto;
               top:0;
               right:1%;
            }
            }
           



    }

    .slidingTextContainer {
        position: absolute;
        font-size: 40vh;
        bottom: -120px;
        white-space: nowrap;
        color: rgb(4, 4, 82); //rgb(167, 163, 163);// #dbceceb1;
         opacity: 0.3;
        width: 100%;
        font-weight: bold;
        font-family: "Luckiest Guy", cursive;

        @include mobile{
            bottom:5%;
            font-size:20vh;
        }

        @include desktop{
            bottom:-12%;
            font-size:30vh;
        }
    }
}




