@import "../../App.scss";


.portfolio {

    position: relative;
    background: linear-gradient(180deg, #0c0c1d, #111132);

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;

        h1 {
            font-family: "Rubik Bubbles", system-ui;
            font-weight: 400;
        }


        @include mobile {
            // padding-top:calc(100vh - 100px);
            margin: 0;
            font-size: 24px;
        }

        @include tablet {
            // padding-top:calc(100vh - 100px);
            margin: 0;
            font-size: 2rem;
        }
        @include desktop {
            // padding-top:calc(100vh - 100px);
            margin: 0;
            font-size: 2rem;
        }



        .progressBar {
            height: 10px;
            background-color: white;

        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include desktop{
            margin-top: 0;
        }
        @include desktop2{
            margin-top: 0;
        }

        .wrapper {
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            @include mobile {
                flex-direction: column;
            }

            @include tablet {
                flex-direction: column;
            }
            @include desktop {
                flex-direction: row;
                margin-top: 7rem;
            }
            @include desktop2 {
                flex-direction: row;
                margin-top: 2rem;
            }


            .imageContainer {

                flex: 1;
                height: 55%;

                @include mobile {
                    height: 100%;
                    max-height: 200px;
                }

                @include tablet {
                    height: 100%;
                    max-height: 20rem;
                }
                
                @include desktop {
                    height: 40%;
                    max-height: 20rem;
                }



                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    border:0.4rem solid orange;

                    @include mobile {
                        object-fit: contain;
                    }

                    
                    @include tablet {
                        object-fit: contain;
                    }
                    @include desktop {
                        object-fit: contain;
                    }



                }
            }



            .textContainer {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                @include mobile {
                    transform: none !important;
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                }

                @include tablet {
                    transform: none !important;
                    padding: 1rem;
                    align-items: center;
                    text-align: center;
                }
                @include desktop {
                    transform: none !important;
                    padding: 0.5rem;
                    align-items: center;
                    text-align: center;
                    margin-top: 0;
                }
                @include desktop2 {
                    // transform: none !important;
                    padding: 2rem;
                    align-items: center;
                    text-align: center;
                    margin-top:-40rem;
                    margin-right: 3rem;
                }



                h2 {
                    font-size: 60px;
                    font-family: "Gloria Hallelujah", cursive;
                    font-weight: 100;

                    @include mobile {
                        font-size: 36px;
                    }

                    
                    @include tablet {
                        font-size: 5rem;
                    }
                    @include desktop {
                        font-size: 3rem;
                    }
                }

                p {
                    color: gray;
                    font-size: 30px;
                    font-family: "Gruppo", sans-serif;
                    font-weight: 900;
                    width: 100%;

                    @include mobile {
                        font-size: 16px;
                        width: 50%;
                    }

                    @include tablet {
                        font-size: 2rem;
                        width: 100%;
                    }
                    @include desktop {
                        font-size: 1.5rem;
                        width: 100%;
                    }
                    @include desktop2 {
                        font-size: 1.5rem;
                        width: 100%;
                    }
                }

                button {
                    background-color: orange;
                    border: none;
                    font-family: "Audiowide", sans-serif;
                    font-weight: 400;
                    border-radius: 10px;
                    padding: 20px;
                    height: auto;
                    color:white;
                    width: 300px;
                    cursor: pointer;
                    font-size: 20px;
                }
            }


        }

    }
}